* {
    font-family: 'Playfair Display', Serif;
}
body {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* sets the height of the header and color*/
header {
    background-color: darkslategray;
    color: white;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 20px;
}

.logo-header{
    color: white;
    font-weight: bold;
    font-size: xxx-large;
}
.list-header {
    font-weight: bold;
    font-size: xxx-large;
    margin-left: 250px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

/*provides space in between each hyperlink*/
nav li {
    margin-right: 10px;
}
/*sets color of hyperlinks to white*/
li a {
    color: white;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
.autocomplete-searchbox {
    height: 35px;
    width: 500px;
    background-color: lightgrey;
}

.full-text-container {
    display: flex;
    align-items: center;
    justify-content: end;
}

.pagesize-select {
    width: 55px;
    border-radius: 4px;
    background-color: slategrey;
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    color: white;
}

.sort-select {
    width: 150px;
    border-radius: 4px;
    background-color: slategrey;
    margin-bottom: 5px;
    font-size: 18px;
    color: white;
    margin-right: 10px;
}

.moviespp {
    font-size: 18px;
    padding-left: 35px;
}

.order-by {
    font-size: 18px;
    padding-left: 10px;
}

input[type=submit].sort-submit {
    font-size: 18px;
    width: 45px;
    height: 35px;
    margin-bottom: 5px;
}
.sort-container{
    display: flex;
    align-items: end;
    justify-content: right;
    width: fit-content;
    padding-left: 50px;
}

form input[type="text"], input[type="number"] {
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid;
    border-radius: 4px;
    background-color: lightgrey;
    font-weight: bold;
}

form input[type="submit"] {
    background-color: slategrey;
    color: #ffffff;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
}

.center-container {
    text-align: center;
}

.table {
    width: 1500px;
    margin: 0 auto;
    color: black;
    border-radius: 25px;
    /*box-shadow: 25px 25px 25px black;*/
}
/* sets background of the headers row block and the font white*/
thead tr {
    background-color: #000000;
    font-size: x-large;
}

th {
    border: 1px solid #fff;
    padding: 8px;
    color: white;

}
tbody {
    color: black;
    background-color: lightgrey;
}
tbody th {
    color: black;
}
tbody a {
    font-weight: bold;
    color: blue;
}

.page-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto; /* added */
    margin-top: 20px; /* added */
    width: fit-content; /* added */
}

button[type=submit] {
    background-color: slategrey;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: dimgrey;
}
#page-number {
    font-weight: bold;
    font-size: 28px;
}
/* footer at the bottom to display socials */
footer {
    background-color: darkslategray;
    padding: 20px;
    margin-top: auto;
    height: 60px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: flex-start;
}

/* Style the social media buttons */
.social-media {
    display: flex;
    gap: 20px;
}

.social-media-button {
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

/* Style individual social media buttons */
.facebook {
    background-color: #1877F2;
}

.twitter {
    background-color: #1DA1F2;
}

.instagram {
    background-color: #E1306C;
}

.footer-head {
    margin-right: 10px; /* create space between footer-head and the buttons*/
}