* {
    font-family: 'Playfair Display', Serif;
}

/* sets the height of the header and color*/
header {
    background-color: darkslategray;
    height: 60px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

/*provides space in between each hyperlink*/
nav li {
    margin-right: 10px;
}
/*sets color of hyperlinks to white*/
li a {
    color: white;
}
body {
    background-color: white;
}

.center-container {
    text-align: center;
}

.table {
    width: 1500px;
    margin: 0 auto;
    color: black;
    border-radius: 25px;
    /*box-shadow: 25px 25px 25px black;*/
}
/* sets background of the headers row block and the font white*/
thead tr {
    background-color: #000000;
    font-size: x-large;
}

th {
    border: 1px solid #fff;
    padding: 8px;
    color: white;

}
tbody {
    color: black;
    background-color: lightgrey;
}
tbody th {
    color: black;
}
tbody a {
    font-weight: bold;
    color: blue;
}

h1 {
    padding: 25px;
    text-align: center;
    font-weight: bold;
}
h2 {
    color: white;
    font-weight: bold;
    font-size: xxx-large;
}