* {
    font-family: 'Playfair Display', Serif;
}

/* sets the height of the header and color*/
header {
    background-color: darkslategray;
    color: white;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 20px;
}

.logo-header {
    color: white;
    font-weight: bold;
    font-size: xxx-large;
}
.search-header{
    font-weight: bold;
    font-size: xxx-large;
    margin-left: 245px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.genre, .title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    font-weight: bolder;
}

#browse-by-genre, #browse-by-title{
    column-width: 100px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: darkslategray;
}

#browse-by-genre a, #browse-by-title a {
    color: slategrey;
}
/*provides space in between each hyperlink*/
nav li {
    margin-right: 10px;
}
/*sets color of hyperlinks to white*/
li a {
    color: white;
}
body {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}



/* footer at the bottom to display socials */
footer {
    background-color: darkslategray;
    padding: 20px;
    margin-top: auto;
    height: 60px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: flex-start;
}

/* Style the social media buttons */
.social-media {
    display: flex;
    gap: 20px;
}

.social-media-button {
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

/* Style individual social media buttons */
.facebook {
    background-color: #1877F2;
}

.twitter {
    background-color: #1DA1F2;
}

.instagram {
    background-color: #E1306C;
}

.footer-head {
    margin-right: 10px; /* create space between footer-head and the buttons*/
}